<head>
	<meta charset="UTF-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.00, minimum-scale=1.00, maximum-scale=2.00"
	/>
	<title><%=pageTitle%></title>
	<link rel="shortcut icon" href="#" />

	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- styles -->
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
		rel="stylesheet"
	/>

	<!-- scripts -->
	<script
		src="https://kit.fontawesome.com/0b52fc2b47.js"
		crossorigin="anonymous"
	></script>
	<script
		src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"
	></script>
</head>
