<div class="search-container">
	<form action="/blogs/search" method="post">
		<input
			required
			type="text"
			class="search-bar"
			name="searchTerm"
			placeholder=" Search for a blog"
		/>
		<button type="submit" href="/blogs/search" class="search-btn">
			Search
		</button>
	</form>
</div>
