:root {
	--textbox-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

body{
    background-image: url(/images/weight.jpg);
}

.registration-form{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:8rem;
}

.registration-container{
    background:white;
    border-radius:1rem;
    padding:0rem 2rem 4rem 2rem;
    flex-direction: column;
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    box-shadow: var(--textbox-shadow);
}

.registration-title{
    font-size:3rem;
    margin-top:0;
}

.username-form-row{
    width:80%;
    display:flex;
    justify-content:center;
    gap:2rem;
}

.username-input:focus{
    outline: none;
    outline-width: 0;
}

.password-form-row{
    width:80%;
    display:flex;
    justify-content:center;
    gap:2.7rem;
}

.password-input:focus{
    outline: none;
    outline-width: 0;
}

.buttons-row{
    margin-top:2rem;
    width:80%;
    display:flex;
    justify-content:center;
    gap:2.7rem;
}


.registration-btn:hover{
    cursor:pointer;
}


.cancel-btn{
    color:black;
    font-size:1rem;
    text-decoration: none;
}


.button {
    font: bold 1.5rem Palatino;
    text-decoration: none;
    background-color: #3e196a;
    color: #ffffff;
    padding: 2px 6px 2px 6px;
    border-radius:5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    transition-duration:.5s;
}

.button:hover{
    background-color: #1f0c36;
    color:white;
}

.button:active{
    background-color: #142a71;
}