<!DOCTYPE html>
<html>
	<%- include('../partials/head'); %>
	<body>
		<%- include('../partials/header'); %>
		<h1 class="center-temp white"><%= pageTitle %></h1>
		<h2 class="center-temp white">
			Sorry, we couldn't find what you were looking for.
		</h2>
		<img src="/images/simon.png" width="380" height="350" alt="simon" />
		<%- include('../partials/footer'); %>
	</body>
</html>
