<!DOCTYPE html>
<html>
	<header><link href="/stylesheets/style.css" rel="stylesheet"></header>
	<%- include('../partials/head'); %>
	<body>
		<%- include('../partials/header'); %>
		<div class="big-container">
			<div class="about-container">
				<h1>Hi, I'm Emma!</h1>
				<hr />
				<p>
					I'm a programmer with a particular interest in web development. I'm
					currently studying software development at Munster Technological
					University and getting pretty good grades. In my free time I like to
					play piano and guitar and to go for walks in the countryside.
				</p>
				<a href="https://emmad241.github.io/portfolio-site/">
					<div class="portfolio-link">
						Portfolio Website
					</div>
				</a>
				</div>
			</div>
		</div>
		<%- include('../partials/footer'); %>
	</body>
</html>
