<!DOCTYPE html>
<html>
	<header><link href="/stylesheets/style.css" rel="stylesheet"</header>
	<%- include('../partials/head'); %>
	<body>
		<%- include('../partials/header'); %>
		<div class="help-container">
			<h1>Need help?</h1>
			<h2>Email me at emmaduffy@gmail.com</h2>
			<img src="/images/calvin.jpeg" class="contact-image" alt="image of calvin and hobbes looking at stars" />
		</div>
		<%- include('../partials/footer'); %>
	</body>
</html>
