<!DOCTYPE html>
<html>
	<%- include('../partials/head'); %>
	<head>
		<link href="/stylesheets/style.css" rel="stylesheet" />
	</head>
	<body>
		<%- include('../partials/header'); %>
		<h1 class="home-heading"><%= pageTitle %></h1>
		<img src="/images/grass.jpg" class="home-image" alt="snowy mountain" />
		<%- include('../partials/footer'); %>
	</body>
</html>
